*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  width: 70%;
  display: flex;
  margin: 150px auto;
  gap: 50px;
}

.display-container {
  background-color: #858694;
}

.display,
.temp {
  padding: 5px;
  opacity: 0.3;
  color: white;
}

.display-1,
.display-2 {
  text-align: right;
  height: 30px;
}

.temp {
  height: 30px;
}

.display-2 {
  opacity: 1;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 40px);
}

.button {
  border: 0.3px solid rgba(92, 92, 92, 0.137);
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
}

.span {
  grid-column: 1/3;
}

.operator {
  background-color: #f5913e;
}

.quote {
  width: 90%;
  margin: 150px auto;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
